# Ignore data directory and symlinks
code/data
data
data_win
src/fpfind/freqcd_path

# Compiled python files
**/__pycache__
**/.pytest_cache

# poetry-related files
poetry.lock

# Sample tests
tests/sample/example_hello

# IDE
.vscode
